.intro-2 {
    background: url("../img/header-intro.jpg") no-repeat center center !important;
    background-size: cover !important;
}

.navbar {
    background-color: transparent !important;
}

.top-nav-collapse {
    background-color: #4285F4 !important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4 !important;
    }
}

html,
body,
header,
.view {
    height: 100% !important;
}

.btn-rounded {
    border-radius: 50px !important;
}
