.intro-2 {
    background: url("../img/header-intro.jpg") no-repeat center center !important;
    background-size: cover !important;
}

.navbar-trans {
    background-color: transparent !important;
}

.top-nav-collapse {
    background-color: #4285F4 !important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4 !important;
    }
}

html,
body,
header,
.view {
    height: 100% !important;
}

.btn-rounded {
    border-radius: 50px !important;
}

/* .md-pills{
    margin-bottom: 20px;
}

.pills-deep-purple .nav-item .active{
    border-radius: 2px;
    color: white;
    background:#9933CC;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
} */